.SearchForm {

}

.SearchForm__input {
    appearance: none;

    border: 1px solid #dddddd;

    width: 100%;

    padding: 8px 16px;

    color: inherit;

    font-size: 20px;
    line-height: 24px;
}